mixin leftSidbar
  .leftSidbar
    a#logo(href="#")
      //- .icon.logo
      .logoWrapp
        span Moston detailing
        .subtitle
          i.icon.back-logo
          span профессиональный уход за авто
    #leftMenu
      ul
        li
          h3
            a(href='#') Наши услуги

          ul
            li
              a(href='#') Тонировка
            li
              a(href='#') Ремонт вмятин без покраски
            li
              a(href='#') Винил
            li
              a(href='#') Анигравийная пленка
            li
              a(href='#') Шумоизоляция
            li
              a(href='#') Химчистка
            li
              a(href="#") Перетяжка
            li
              a(href="#") Полировка

        li
          h3
            a(href='#') О нас
        li
          h3
            a(href='#') Наши работы
        li
          h3
            a(href='#') Контакты

    .feedbackForm
      h3 Закажите звонок
      .groupInput
        input(type="tel" placeholder="+7 (___)___-__-__")
      .yellowBtn Перезвоните мне
















