mixin sectionOne
  .sectionOne
    .wrappImage
      h1 комплексная забота о вашем авто
      .linkSpares Перетяжка салона
      .linkSpares.active Ремонт вмятин без покраски
    i.icon.m-scrollDown



