mixin sectionThree
  .sectionThree
    .wrappContent
      h2.brendTitle.brendTitlePhoto
        | ОЦЕНКА ПОВРЕЖДЕНИЯ
        br
        | ПО ФОТОГРАФИИ за 15 минут
        //- i.icon.m-square
      .photoWrapper
        .step
          .number 1
           Сделайте фото повреждения на смартфон


