mixin sectionTwo
  .sectionTwo
    .wrappContent.caruselCar
      h2.brendtitleNews
        | Новые работы
        //- i.icon.m-square
      #sliderNews.sliderNews.owl-carousel
        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide1.jpg", alt="car" title="big car")
          .description
            h3 Замена цвета на BMW 750 Li
            p Машина была белого цвета, но организаторам срочно нужна была черная.
            a.brendBtnMore.btn(href="#") Подробней
        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide2.jpg", alt="car" title="big car")
          .description
            h3  Mercedes s350
            p Оклейка декоративных накладок, пленкой под дерево.
            a.brendBtnMore.btn(href="#") Подробней
        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide3.jpg", alt="car" title="big car")
          .description
            h3  BMW 528i
            p Тонировка задней части 5% перед 35% лобовое атермальной плёнкой.
            a.brendBtnMore.btn(href="#") Подробней

        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide1.jpg", alt="car" title="big car")
          .description
            h3 Замена цвета на BMW 750 Li
            p Машина была белого цвета, но организаторам срочно нужна была черная.
            a.brendBtnMore.btn(href="#") Подробней
        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide2.jpg", alt="car" title="big car")
          .description
            h3  Mercedes s350
            p Оклейка декоративных накладок, пленкой под дерево.
            a.brendBtnMore.btn(href="#") Подробней
        .sliderNewsItem
          .wrappImg
            img(src="images/caruselCar/slide3.jpg", alt="car" title="big car")
          .description
            h3  BMW 528i
            p Тонировка задней части 5% перед 35% лобовое атермальной плёнкой.
            a.brendBtnMore.btn(href="#") Подробней


    .wrappContent.caruselCar
      h2.brendtitleInstagram
        | Больше новых работ в нашем инстаграмм
        //- i.icon.m-square
      .subscribe
        .btnSubscribe Подпишитесь
        lable.subText и будьте в курсе!
      #instagramPhoto.owl-carousel
        .sliderNewsItem
          a.wrappImg(href="#")
            img(src="images/instagramPhoto/photo1.jpg", alt="car" title="big car")
        .sliderNewsItem
          .wrappImg
            img(src="images/instagramPhoto/photo2.jpg", alt="car" title="big car")
        .sliderNewsItem
          .wrappImg
            img(src="images/instagramPhoto/photo3.jpg", alt="car" title="big car")
        .sliderNewsItem
          .wrappImg
            img(src="images/instagramPhoto/photo4.jpg", alt="car" title="big car")
        .sliderNewsItem
          .wrappImg
            img(src="images/instagramPhoto/photo1.jpg", alt="car" title="big car")
        .sliderNewsItem
          .wrappImg
            img(src="images/instagramPhoto/photo2.jpg", alt="car" title="big car")








